<!-- Home page of the app when the user is logged in -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- jQuery and jQuery Mobile -->
  <script
  src="https://code.jquery.com/jquery-1.11.1.min.js"
  crossorigin="anonymous"></script>
  <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />


  <!-- Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
  <script src="js/angular-functions.js"></script>

  <!-- Firebase -->
  <script src="https://www.gstatic.com/firebasejs/4.1.1/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.0.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.0.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.0.0/firebase-database.js"></script>
  <script>
  // Initialize Firebase
  var config = {
    apiKey: "<YOUR API KEY>",
    authDomain: "<YOUR AUTH DOMAIN>",
    databaseURL: "<YOUR DATABASE URL>",
    projectId: "<YOUR PROJECT ID>",
    storageBucket: "<YOUR STORAGE BUCKET>",
    messagingSenderId: "<YOUR MESSAGING SENDER ID>"
  };
  firebase.initializeApp(config);
  </script>

  <link rel="stylesheet" href="css/index.css" />
</head>
<body ng-app="CNote">
  <div id="app" ng-controller="MainPageController as main" data-role="page">

    <!-- Header -->
    <div data-role="panel" id="slide-out-menu" data-display="push">
      <ul>
        <li><a href="#" id="profile" class="ui-btn ui-icon-user ui-btn-icon-left">Profile</a></li>
        <li><a href="notifications.html" id="notifications" class="ui-btn ui-icon-mail ui-btn-icon-left">Notifications</a></li>
        <li><a href="#" id="sign-out" class="ui-btn ui-icon-power ui-btn-icon-left">Sign Out</a></li>
      </ul>
    </div>

    <div data-role="header" data-position="fixed" class="header">
      <a href="#slide-out-menu" data-icon="bars">Menu</a>
      <h1>CNote</h1>
      <a href="index.html" data-icon="home">Home</a>
    </div>

    <!-- Content -->
    <div data-role="main" class="content">
      <div id="all-content" ng-show="all"></div>
      <div id="news-content" ng-show="news"></div>
      <div id="sports-content" ng-show="sports"></div>
      <div id="events-content" ng-show="events"></div>
    </div>

    <!-- Footer -->
    <div data-role="footer" data-position="fixed" >
      <div data-role="navbar">
        <ul>
          <li><a href="#" ng-click="changeCategory('all')">All</a></li>
          <li><a href="#" ng-click="changeCategory('news')" >News</a></li>
          <li><a href="#" ng-click="changeCategory('sports')" >Sports</a></li>
          <li><a href="#" ng-click="changeCategory('events')" >Events</a></li>
        </ul>
      </div>
    </div>

  </div>
  <script type="text/javascript" src="cordova.js"></script>
  <!-- <script type="text/javascript" src="js/map.js"></script> -->
  <script type="text/javascript" src="js/index.js"></script>
  <script type="text/javascript" src="js/stories.js"></script>
  <script>
  firebase.auth().onAuthStateChanged(function(user){
    if(!user){
      window.location.href="login.html";
    }else{
      console.log(user.uid);
    }

  });
  </script>
</body>
</html>
